<%
    var studentName = marks[0].first_name + ' ' + marks[0].last_name;
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Student's Marks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="display_marks.js"></script>
</head>
<body>
    <h1><%=studentName %>'s Marks</h1>
    <table>
        <% for (let i = 0; i < 4; i++) { %>
        <tr>
            <td><%=marks[i].task_name %></td>
            <td id='<%=i %>'><%=marks[i].score %></td>
        </tr>
        <% } %>
        <tr><td>Total SBA Score</td><td id="totalSba"></td></tr>
        <tr><td>50%</td><td id="halfSba"></td></tr>
        <tr><td>End of Term Exam</td><td id='4'><%=marks[4].score %></td></tr>
        <tr><td>50%</td><td id="halfExam"></td></tr>
        <tr><td>Overall Total (50 + 50)</td><td id="overallTotal"></td></tr>   
    </table><br>
    <a href="sign_in.html">Go Back</a>
</body>
</html>